.wishlist{
    width: 75vw;
    overflow-y: auto;
    flex-direction: column;
    height: 86vh;
    margin-inline: auto;
    &::-webkit-scrollbar{
        display: none;
      }
      scrollbar-width: none;
}

.wishlist-title{
    font-size: 27px;
    margin: 30px 0px 30px 0px;
}
.wishlist-items{
    width: 100%;
    //margin-inline: auto;
    display: grid;
    // fr was 1 changed becase filter
    grid-template-columns: repeat(auto-fit,minmax(250px,.2fr));
    grid-column-gap: 2%;
    grid-row-gap: 2rem;
}
.wishlist-item{
    box-sizing: border-box;
    // -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    // -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    // box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    // border-radius: 5px;
    height: 42vh;
    transition: .5s ease;
    // border-radius:5px ;s
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    // &:hover{
    //     -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    //     -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    //     box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    //     scale: 1.01;
    // }
}

.wishlist-image{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 90%;
    & img {

        box-sizing: border-box;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.wishlist-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.wishlist-heart{
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: #7596B8;
    padding: 5px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    &:hover{
        background-color: #A4B7CD;
    }
}

