.about {
  height: 75vh;
  width: 45%;
  margin-inline: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.aboutParagraph {
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.abouTitle {
  font-family: sans-serif;
  color: #1b2120;
  font-size: 1.7rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .about {
    width: 90%;
  }
}
